final
[{"id":"6d2c3d7e.4fc894","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85fa486f.e42ed8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1059132.c710f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Sensor ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ebe44928.304118","type":"ui_group","name":"Sensors","tab":"85fa486f.e42ed8","order":3,"disp":true,"width":25,"collapse":false,"className":""},{"id":"e6262517.3adf88","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"ffdfe9ef.ad3618","type":"ui_group","name":"Menu","tab":"85fa486f.e42ed8","order":2,"disp":true,"width":"5","collapse":false,"className":""},{"id":"68ed6be2.787644","type":"ui_group","name":"Charts","tab":"85fa486f.e42ed8","order":4,"disp":true,"width":"25","collapse":false,"className":""},{"id":"17e5246.00449dc","type":"ui_spacer","z":"6d2c3d7e.4fc894","name":"spacer","group":"68ed6be2.787644","order":5,"width":25,"height":1},{"id":"121dec44.885b04","type":"ui_spacer","z":"6d2c3d7e.4fc894","name":"spacer","group":"68ed6be2.787644","order":6,"width":25,"height":1},{"id":"f4b8fbcf.c1dff8","type":"ui_spacer","z":"6d2c3d7e.4fc894","name":"spacer","group":"68ed6be2.787644","order":7,"width":25,"height":1},{"id":"5c12f376.131c2c","type":"ui_spacer","z":"6d2c3d7e.4fc894","name":"spacer","group":"68ed6be2.787644","order":8,"width":25,"height":1},{"id":"8bce741.24ba888","type":"ui_spacer","z":"6d2c3d7e.4fc894","name":"spacer","group":"68ed6be2.787644","order":9,"width":25,"height":1},{"id":"1d2c4877.885d78","type":"aws-config"},{"id":"4d3cc4ea.c6017c","type":"RF24radio","name":"","ce":"17","cs":"0","palevel":"2","datarate":"0","channel":"5","crclength":"2","retriesdelay":"15","retriescount":"15","payloadsize":"32"},{"id":"44c8bc0c.008f84","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"40","set":true,"level":"1","freq":"","out":"out","x":450,"y":120,"wires":[]},{"id":"8e5655ad.1b7c78","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"38","set":true,"level":"1","freq":"","out":"out","x":440,"y":180,"wires":[]},{"id":"f390e1c4.330e6","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"d","tooltip":"","group":"ffdfe9ef.ad3618","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":250,"y":120,"wires":[["44c8bc0c.008f84"]]},{"id":"5f261d4d.b74f74","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"c","tooltip":"","group":"ffdfe9ef.ad3618","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":250,"y":180,"wires":[["8e5655ad.1b7c78"]]},{"id":"98e7af03.1e472","type":"debug","z":"6d2c3d7e.4fc894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":400,"wires":[]},{"id":"72e4a0d1.3af23","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":1,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 1","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":440,"wires":[]},{"id":"fb9c5423.73a498","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":1,"width":25,"height":5,"label":"Gas sensor 1 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":480,"wires":[[]]},{"id":"422b76df.5bf728","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":460,"wires":[["72e4a0d1.3af23","fb9c5423.73a498"]]},{"id":"f1fe2da8.c42f1","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":2,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 2","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":560,"wires":[]},{"id":"8f74136d.036c8","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":2,"width":25,"height":5,"label":"Gas sensor 2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":600,"wires":[[]]},{"id":"b1c28d9e.df55e","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":580,"wires":[["f1fe2da8.c42f1","8f74136d.036c8"]]},{"id":"9d1feb06.826278","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":3,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 3","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":680,"wires":[]},{"id":"f16eaa9.a213a58","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":3,"width":25,"height":5,"label":"Gas sensor 3 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":720,"wires":[[]]},{"id":"68cdebf6.2078c4","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":700,"wires":[["9d1feb06.826278","f16eaa9.a213a58"]]},{"id":"59274bce.3531e4","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":4,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 4","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":800,"wires":[]},{"id":"ae74d441.4da318","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":4,"width":25,"height":5,"label":"Gas sensor 4 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":840,"wires":[[]]},{"id":"e6a8da24.0fd378","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":820,"wires":[["59274bce.3531e4","ae74d441.4da318"]]},{"id":"8fb8498f.390f28","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":5,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 5","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":920,"wires":[]},{"id":"6993b201.9c964c","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":10,"width":25,"height":5,"label":"Gas sensor 5 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":960,"wires":[[]]},{"id":"d538a866.510918","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":940,"wires":[["8fb8498f.390f28","6993b201.9c964c"]]},{"id":"3041e51a.a5004a","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":6,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 6","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1040,"wires":[]},{"id":"40e1314b.ef3bd","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":11,"width":25,"height":5,"label":"Gas sensor 6 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1080,"wires":[[]]},{"id":"f50fe10b.690a5","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1060,"wires":[["3041e51a.a5004a","40e1314b.ef3bd"]]},{"id":"51064590.09ea7c","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":7,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 7","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1160,"wires":[]},{"id":"a5f2ff2e.fa759","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":12,"width":25,"height":5,"label":"Gas sensor 7 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1200,"wires":[[]]},{"id":"3570ef83.d2edf","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1180,"wires":[["51064590.09ea7c","a5f2ff2e.fa759"]]},{"id":"bf83265e.437a48","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":8,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 8","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1280,"wires":[]},{"id":"281a1b46.ab1574","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":13,"width":25,"height":5,"label":"Gas sensor 8 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1320,"wires":[[]]},{"id":"5867eba0.a4d294","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":10,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1300,"wires":[["bf83265e.437a48","281a1b46.ab1574"]]},{"id":"acae03b9.fae89","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":9,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 9","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1400,"wires":[]},{"id":"c87e5e79.a719c","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":14,"width":25,"height":5,"label":"Gas sensor 9 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1440,"wires":[[]]},{"id":"bfedc5b6.bb6688","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1420,"wires":[["acae03b9.fae89","c87e5e79.a719c"]]},{"id":"a68e1a32.0fda68","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":10,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 10","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":1520,"wires":[]},{"id":"1618c563.46574b","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":15,"width":25,"height":5,"label":"Gas sensor 10 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":1560,"wires":[[]]},{"id":"ebd1d4b6.a2d578","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1540,"wires":[["a68e1a32.0fda68","1618c563.46574b"]]},{"id":"74b7cc38.810204","type":"ui_media","z":"6d2c3d7e.4fc894","group":"ffdfe9ef.ad3618","name":"Logo","width":5,"height":"5","order":1,"category":"Logo","file":"Nimrod.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":970,"y":460,"wires":[[]]},{"id":"dd26772b.efa5a8","type":"ui_text","z":"6d2c3d7e.4fc894","group":"ffdfe9ef.ad3618","order":2,"width":"5","height":"1","name":"","label":"Hello, Guardian!","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":400,"wires":[]},{"id":"fdd585c3.77cbd8","type":"amazon s3 out","z":"6d2c3d7e.4fc894","aws":"1d2c4877.885d78","bucket":"nimrodsensorbucket","filename":"sensor database 1.csv","localFilename":"","region":"ap-northeast-1","name":"","x":1330,"y":320,"wires":[]},{"id":"3ff0f853.729a58","type":"csv","z":"6d2c3d7e.4fc894","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1130,"y":320,"wires":[[]]},{"id":"8ccddb9a.a55f38","type":"inject","z":"6d2c3d7e.4fc894","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"temperature","payload":"10","payloadType":"num","x":810,"y":180,"wires":[["47b769c5.cb0e28"]]},{"id":"47b769c5.cb0e28","type":"join","z":"6d2c3d7e.4fc894","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":220,"wires":[["3ff0f853.729a58"]]},{"id":"2d269127.4f04ce","type":"inject","z":"6d2c3d7e.4fc894","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"humidity","payload":"","payloadType":"num","x":800,"y":220,"wires":[["47b769c5.cb0e28"]]},{"id":"d6fbe805.0e4628","type":"inject","z":"6d2c3d7e.4fc894","name":"pressure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"pressure","payload":"999","payloadType":"num","x":800,"y":260,"wires":[["47b769c5.cb0e28"]]},{"id":"9ad59637.0ae968","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"36","set":true,"level":"1","freq":"","out":"out","x":440,"y":240,"wires":[]},{"id":"d53c75d7.8f5e98","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"32","set":true,"level":"1","freq":"","out":"out","x":440,"y":300,"wires":[]},{"id":"b03d08a.c9257f8","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"b","tooltip":"","group":"ffdfe9ef.ad3618","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":240,"y":240,"wires":[["9ad59637.0ae968"]]},{"id":"1455f995.c011a6","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"a","tooltip":"","group":"ffdfe9ef.ad3618","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":240,"y":300,"wires":[["d53c75d7.8f5e98"]]},{"id":"30dceccd.71b4c4","type":"RF24input","z":"6d2c3d7e.4fc894","name":"","topic":"nrf24","radio":"4d3cc4ea.c6017c","outputstring":true,"pipeaddress":"0x7878787878","autoack":false,"x":210,"y":400,"wires":[["98e7af03.1e472"]]},{"id":"d0817f4f.2b6","type":"RF24input","z":"6d2c3d7e.4fc894","d":true,"name":"","topic":"nrf24","radio":"4d3cc4ea.c6017c","outputstring":true,"pipeaddress":"0x7878787889","autoack":false,"x":210,"y":500,"wires":[["98e7af03.1e472"]]}]
