flows.json
[{"id":"6d2c3d7e.4fc894","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"44c8bc0c.008f84","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":450,"y":120,"wires":[]},{"id":"8e5655ad.1b7c78","type":"rpi-gpio out","z":"6d2c3d7e.4fc894","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":450,"y":180,"wires":[]},{"id":"f390e1c4.330e6","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"forward","tooltip":"","group":"ffdfe9ef.ad3618","order":13,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":260,"y":120,"wires":[["44c8bc0c.008f84"]]},{"id":"5f261d4d.b74f74","type":"ui_switch","z":"6d2c3d7e.4fc894","name":"","label":"backward","tooltip":"","group":"ffdfe9ef.ad3618","order":14,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":260,"y":180,"wires":[["8e5655ad.1b7c78"]]},{"id":"8be7c30c.93019","type":"RF24input","z":"6d2c3d7e.4fc894","name":"","topic":"nrf24","radio":"6b1698b3.e77978","outputstring":true,"pipeaddress":"0x7878787884","autoack":true,"x":270,"y":280,"wires":[["98e7af03.1e472"]]},{"id":"98e7af03.1e472","type":"debug","z":"6d2c3d7e.4fc894","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":280,"wires":[]},{"id":"72e4a0d1.3af23","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":1,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 1","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":440,"wires":[]},{"id":"fb9c5423.73a498","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":1,"width":25,"height":5,"label":"Gas sensor 1 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":480,"wires":[[]]},{"id":"422b76df.5bf728","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":460,"wires":[["72e4a0d1.3af23","fb9c5423.73a498"]]},{"id":"f1fe2da8.c42f1","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":2,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 2","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":560,"wires":[]},{"id":"8f74136d.036c8","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":2,"width":25,"height":5,"label":"Gas sensor 2 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":600,"wires":[[]]},{"id":"b1c28d9e.df55e","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":580,"wires":[["f1fe2da8.c42f1","8f74136d.036c8"]]},{"id":"9d1feb06.826278","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":3,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 3","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":680,"wires":[]},{"id":"f16eaa9.a213a58","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":3,"width":25,"height":5,"label":"Gas sensor 3 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":720,"wires":[[]]},{"id":"68cdebf6.2078c4","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":700,"wires":[["9d1feb06.826278","f16eaa9.a213a58"]]},{"id":"59274bce.3531e4","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":4,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 4","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":800,"wires":[]},{"id":"ae74d441.4da318","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":4,"width":25,"height":5,"label":"Gas sensor 4 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":840,"wires":[[]]},{"id":"e6a8da24.0fd378","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":820,"wires":[["59274bce.3531e4","ae74d441.4da318"]]},{"id":"8fb8498f.390f28","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":5,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 5","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":920,"wires":[]},{"id":"6993b201.9c964c","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":10,"width":25,"height":5,"label":"Gas sensor 5 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":960,"wires":[[]]},{"id":"d538a866.510918","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":940,"wires":[["8fb8498f.390f28","6993b201.9c964c"]]},{"id":"3041e51a.a5004a","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":6,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 6","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1040,"wires":[]},{"id":"40e1314b.ef3bd","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":11,"width":25,"height":5,"label":"Gas sensor 6 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1080,"wires":[[]]},{"id":"f50fe10b.690a5","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1060,"wires":[["3041e51a.a5004a","40e1314b.ef3bd"]]},{"id":"51064590.09ea7c","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":7,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 7","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1160,"wires":[]},{"id":"a5f2ff2e.fa759","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":12,"width":25,"height":5,"label":"Gas sensor 7 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1200,"wires":[[]]},{"id":"3570ef83.d2edf","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1180,"wires":[["51064590.09ea7c","a5f2ff2e.fa759"]]},{"id":"bf83265e.437a48","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":8,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 8","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1280,"wires":[]},{"id":"281a1b46.ab1574","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":13,"width":25,"height":5,"label":"Gas sensor 8 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1320,"wires":[[]]},{"id":"5867eba0.a4d294","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":10,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1300,"wires":[["bf83265e.437a48","281a1b46.ab1574"]]},{"id":"acae03b9.fae89","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":9,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 9","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":1400,"wires":[]},{"id":"c87e5e79.a719c","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":14,"width":25,"height":5,"label":"Gas sensor 9 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":1440,"wires":[[]]},{"id":"bfedc5b6.bb6688","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1420,"wires":[["acae03b9.fae89","c87e5e79.a719c"]]},{"id":"a68e1a32.0fda68","type":"ui_gauge","z":"6d2c3d7e.4fc894","name":"","group":"ebe44928.304118","order":10,"width":5,"height":5,"gtype":"gage","title":"Gas sensor 10","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":740,"y":1520,"wires":[]},{"id":"1618c563.46574b","type":"ui_chart","z":"6d2c3d7e.4fc894","name":"","group":"68ed6be2.787644","order":15,"width":25,"height":5,"label":"Gas sensor 10 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":1560,"wires":[[]]},{"id":"ebd1d4b6.a2d578","type":"ui_dropdown","z":"6d2c3d7e.4fc894","name":"","label":"","tooltip":"","place":"Select option","group":"ffdfe9ef.ad3618","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100","value":100,"type":"num"},{"label":"200","value":200,"type":"num"},{"label":"300","value":300,"type":"num"},{"label":"400","value":400,"type":"num"},{"label":"500","value":500,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":440,"y":1540,"wires":[["a68e1a32.0fda68","1618c563.46574b"]]},{"id":"74b7cc38.810204","type":"ui_media","z":"6d2c3d7e.4fc894","group":"ffdfe9ef.ad3618","name":"Logo","width":5,"height":"5","order":1,"category":"Logo","file":"Nimrod.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":970,"y":460,"wires":[[]]},{"id":"dd26772b.efa5a8","type":"ui_text","z":"6d2c3d7e.4fc894","group":"ffdfe9ef.ad3618","order":2,"width":"5","height":"1","name":"","label":"Hello, Guardian!","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":400,"wires":[]},{"id":"ffdfe9ef.ad3618","type":"ui_group","name":"Menu","tab":"85fa486f.e42ed8","order":2,"disp":true,"width":"5","collapse":false,"className":""},{"id":"6b1698b3.e77978","type":"RF24radio","z":"6d2c3d7e.4fc894","name":"","ce":"17","cs":"0","palevel":"3","datarate":"0","channel":"5","crclength":"2","retriesdelay":"10","retriescount":"10","payloadsize":"32"},{"id":"ebe44928.304118","type":"ui_group","name":"Sensors","tab":"85fa486f.e42ed8","order":3,"disp":true,"width":25,"collapse":false,"className":""},{"id":"68ed6be2.787644","type":"ui_group","name":"Charts","tab":"85fa486f.e42ed8","order":4,"disp":true,"width":"25","collapse":false,"className":""},{"id":"85fa486f.e42ed8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]